.list-scroll {
  height: calc((100vh - 80px) / 2);
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .list-scroll {
    height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}

.poke-table img {
  height: 50px;
}

.poke-table td {
  padding: 0px;
}